.container_posts{
  
  margin: 20px;
  height: auto;
  border-bottom: #2624241a  solid 0.5px;
  
  &__information_user{
    width: 100%;
    height: 80;
    display: flex;
    margin-bottom: 20px;
    position: relative;

    &__avatar{
      height: 60px;
      width: 60px;
      border-radius: 50%;

      background-color: floralwhite;
      position: absolute;

      img{
        border-radius: 50%;
        @include avatar;
      }
    }

    &__name{
      height: auto;
      min-height: 100px;
      width: 100%;

      padding-left: 70px;
      position: absolute;

      p{
        font-size: 20px;
        font-weight: 600;
      }

      label{
        @include content_post;
        padding: 10 0 10 0px;
        font-size: 14px;
      }
      
  
    }
  }

  &__btn_detail--right{
    text-align: right;
  }

  .container_posts__image{
    width: 300px;
    height: 500px;
    border-radius: 3%;

    background-color: #d4aeae54;
    margin: 5% 0% 5% 20%;

    img{
      width: 100%;
      height: 100%;

      border-radius: 3%;
      object-fit:cover;
      box-shadow: #000000f0 0px 10px 15px -3px, #fdf5f5 0px 4px 6px -2px;
    }
  }

  .container_posts__create_comment{
    display: flex;
    flex-direction: row;

    margin-left: 20px;
    justify-content: center;

    .txt_comment{
      width: 70%;
      height: 40px;
      border-radius: 5px;

      margin: 5px;
      margin-left: 20px;
      border: solid 0.5px #8174746e;

    }

    .btn_post{
      width: 20%;
      height: 40px;
      float: right;

      margin-top: 5px;
      border: solid 0.5px #536e7e;
    }
  }

  .container_posts__navbar{
    display: flex;
    flex-direction: column-reverse;

    justify-content: end;
    padding-bottom: 90px;
    height: 100%;

    &__icon{
      margin: 10px 0px 20px 20px;
      height: 50px;
      width: 50px;

      border-radius: 50%;
      background: #f1f1f2;
      display: flex;

      flex-direction: column;
      position: relative;
      
      a{
        font-size: 20px;
        margin: 15px;
        position: absolute;
        color: black;
      }

      &__count{
        color: #858591;
        margin-top: 100%;
        text-align: center;
      }
    }

    &__icon:hover{
       background: #f1f1f27a;
    }
  }

  @media (max-width: 767px) {
    .container_posts__navbar{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
