.modal_create_post{
  width: 100%;
  padding-left: 10px;
  
  &__header{
    width: 500px;
    margin: 2%;
    font-weight: 500;
  }

  &__body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    input{
     display: none;
    }

    label{
      width: 40%;
      height: 40px;
      
      text-align: left;
      border-radius: 5px;
      padding: 5px;
      border: #c5caca solid 1px;
    }

    &__imagebox{
      
      .img-review{
        height: 400px;
        width: 200px;
        border-radius: 3%;

        background-color: #f1f1f2;
        margin-bottom: 10px;

        img{
          @include img_obj-fit--cover;
        }

        .image--cover{
          @include img_obj-fit--cover;
        }
      }
      
    }
  }

  &__bottom{
    text-align: center;
    margin-bottom: 10px;

    button{
      width: 120px;
      height: 40px;
    }
  }
  }