.modal_create_post{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  &__header{
    width: 450px;
    font-weight: 500;
  }

  &__center{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .txt_content{
      outline: none;
      border: none;
    }

    .input_image{
      display: none;
    }

    &__imagebox{
      width: 300px;
      height: 400px;

      border-radius: 3%;
      background-color: #f7f7db;

      img{
        @include avatar;
        border-radius: 3%;
      }
    }

    label{
      margin-top: 10px;
    }
  }

  .modal_create_post__bottom{
    margin-bottom: 10px;
    text-align: center;

    button{
      width: 80px;
    }

  }
    
}