<%@friends.each do |friend|%>
    <%if (friend.user_id == current_user.id) && friend.status == 0  %>
      
        <div class="card-body">
          <h6 class="card-title"><i class="bi bi-people-fill"></i></h6>
          <h6 class="card-subtitle mb-2 text-muted"></h6><%= friend.self_user_id %>
          <p class="card-text">sent you a friend request</p>
          <%= link_to "Confirm", friends_path(id: friend.id), data: { confirm: "Are you sure?" }, method: :put%>
          <%= link_to "Delete", friends_path(id: friend.id ), data: { confirm: "Are you sure?" }, method: :delete%>
        </div>
      
    <%end%>
  <%end%>