  <%@friends.each do |friend|%>
    <%if (friend.user_id == current_user.id || friend.self_user_id == current_user.id ) && friend.status == 1  %>
        <div class="tag_friend">
          <% if(current_user.id == friend.user_id) ? id=friend.self_user_id : id=friend.user_id %>
          <%end%>
          <%=id%>
          <%= link_to "Delete", friends_path(id: friend.id ), data: { confirm: "Are you sure?" }, method: :delete%>
        </div>
    <%end%>
  <%end%>


