|
  $(`#like-icon_#{ @like.post_id } a`).css('color', '#000000')
  $(`#like-icon_#{ @like.post_id } a`).attr("href", "#{@href}")
  $(`#like-icon_#{ @like.post_id } a`).attr("data-method", "post")

    