<div class="list_user">
    <%@users.each do |user|%>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                <%=link_to '<i class="bi bi-people" style="font-size: 23px; color: cornflowerblue;" ></i>'.html_safe, user_detail_url(user.id),class:"icon_menu_top" %>
                    
                </div>

                <div class="col-sm">
                 <%=link_to  "#{user.first_name+" "+user.last_name}", user_detail_url(user.id),class:"item_link" %>
                </div> 
                
                <%= link_to "Add friend", friend_add_url(self_user_id: current_user.id, user_id: user.id),class:"item_link"%>                          
            </div>
        </div>
    <%end%>
</div>