
<%= content_for :list_users do %>
  <div class="list_user">
        <%@users.each do |user|%>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <i class="bi bi-people" style="font-size: 23px; color: cornflowerblue;" ></i>
                    </div>

                    <div class="col-sm">
                        <%=user.first_name+" "+user.last_name %>
                    </div> 
                    
                    <%= link_to "Add friend", friend_add_url(self_user_id: current_user.id, user_id: user.id)%>                          
                </div>
            </div>
        <%end%>
    </div>
<% end %>