.container_friend_edit{
  display: flex;
  flex-wrap: wrap;
  @include card_user; 
  
  &__btn--close{
    color: #e35d5dbd;
    position: absolute;
    top: 10px;
    right: -30px;
  }

  &__btn--close:hover{
    color: #f01e1e;
    text-decoration: none;
  }
}