/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";
 $link-hover-color: rgb(184, 229, 255);
body{
    
    background-color: #f2f6fc;
    font-family: 'Lato', sans-serif;
    .top_menu{
        background-color: #fff; 
        height: 60px;
        width: 100%;  
    }    
}
.menu_top{
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.menu_top_center{
    width: 100%;
    position: absolute;
    display: flex;

}
.box_flash{
    width: 100%;
    height: 80%;
    text-align: center;
}
.icon_menu_top {
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.icon_menu_top:hover{
    background-color: #fff;
}

.icon_menu_left{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-left: 10%;
}

.icon_menu_left:hover{
    background-color: #f0f2f5;
}

.row_menu_top {
    display: flex;
    flex-wrap: wrap;
}
.btn_create_size{
    width: 100%;
    
}

.size_btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}
.menu_top_left{
    display: flex;
    margin-top: -10px;
}
.current_account{
    width: auto;
    display: flex;
    border-radius: 10px;
    margin-top: 5px;
    .img_user{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        text-align: center;
        font-size: 25px;

    }
    .name_user{
        margin-top: 5px;
        margin-left: 10px;
    }
}

.content_left{
//    background-color: #fff;
    width: 100%;
    height: 100%;
    min-height: 550px;
    overflow: hidden;
    margin-top: 10px;

    .menu_left{
        padding: 10px;
        list-style-type: none;
        .item_menu_left{
            height: 40px;
            border-radius: 10px;
            position: relative;
            font-size: 15px;
           
        }
    }
}

.item_menu_left:hover{
    background-color:#f0f2f5 ;
}
.li_bg:hover{
   list-style: none;
}

.content_rigth{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 5px;
    height: 100%;

    .box_card{
        overflow-y: scroll;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
        height: atto;
        max-height: 200px;
        .card{
            margin: 5px;
        }
    }
    .box_add_friend{
        position: relative;
        height: 300px;
        overflow-y: scroll;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
        font-size: 14px;
        .add_card{
            width: 150px;
        }
        
    }
}


.content_center{
    background-color: #fff;

    width: 100%;
    height: 100%;
    margin: 10px;
    overflow: scroll;
    border-radius: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.content_center::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.item_link{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.item_link:hover{
    background-color: #fff;
}

/* phone */
@media only screen and (max-width: 767px) {
	.form_login{
		position: relative;
		top: 40%;
	}
   
    .menu_top_center{
        width: 40%;
    }
	#exampleModalLong{
		left: -30%;
	}
    
    .content_left{
        display: none;
    }
    .content_rigth{
        display: none;
    }
    .content_center{
   
        margin-right: 200px;
    }	
} 
/* tablets */
@media only screen and (min-width: 768px) {
	.text{
		position: static;	
		font-size: 10px;
		height: auto;
		width: auto;
		line-height: 2.5;
	}

} 
/* destop */
@media only screen and (min-width: 993px) {
    
}



