.box_comment{
   width: 100%;
}
.input_comment{
  position: relative;
  bottom: -80%;
}
.input-group{
   position: fixed;
}
.right{
   float: right;
   font-size: 10px;
}
.card_comment{
   height: 5rem;
   margin:10px
}