.txt_create_user{
  display: block;
  height: 40px;
  
  background-clip: padding-box;
  margin: 0 1% 4% 1%;
  border-radius: 0.25rem;
  
  border: 1px solid #ced4da;
  color: #495057;
  background-color: #fff;
}

.btn_signin--red{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-weight: 550;

  color: red;
  background-color: white;
  border: red solid 0.5px;
}

// <--suggestes account -->
.card_user{
  width: 100%;
  height: 40px;
  margin: 5px;
  display: flex;

  &__avatar{
    width: 40px;
    height: 40px;

    font-size: 20px;
    border-radius: 50%;
    
    text-align: center;
    color: salmon;
    background: #ebebfd;

    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__information{
    font-weight: 600;
    margin: 10px;
    font-size: 14px;
    
    a{
      color: black;
    }
  }
}

.alert_value--center{
  text-align: center;
}

.button--red{
  width: 30%;
  min-width: 130px;
  height: 35px;
  border-radius: 5px;
  font-weight: 550;

  color: red;
  background-color: white;
  border: red solid 0.5px;
}

// <-- button add friends -->
@mixin btn_add_friend{
  height: 40px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 5%;

  color: white;   
  background-color: #fe2c55;
  border: none;
}

// <-- card user -->
@mixin card_user{
  .user_box{
    width: 200px;
    height: 300px;
    background-color:#b3c0d08a;

    border-radius: 3%;
    margin: 10px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    position: relative;

    img{
      width: 100%;
      height: 100%;

      object-fit: cover;
      border-radius: 3%;
      
    }

    &__header{
      text-align: center;
      font-weight: 600;
      padding-top: 20px;

      left: 20%;
      top:15px;
      position: absolute;
      width: 120px;
      
      border-radius: 5px;
      padding: 5px;
      color: white;
      background-color: #60604c75;

    }
     

    &__bottom{
      position: absolute;
      bottom: 20px;

      &__btn--red{
        width: 150px;
        margin-left: 15%;
        @include btn_add_friend;
      }
    
      &__btn--red:hover{
        background-color: #ce163b;
      }
    }
  }
}

@mixin  avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Comment card in posts

.comment_card{
  display: flex;
  flex-direction: row;
  height: 80px;

  margin: 10px;
  margin-bottom: 20px;
  position: relative;

  &__user{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    
    &__ball{
      width: 60px;
      height: 60px;
      border-radius: 50%;

      margin-right: 10px;
      background-color: #e9e9ff;

      i{
        font-size: 30px;
        position: absolute;
      }
      
      img{
        @include avatar;
        border-radius: 50%;
      }
    }

    .comment_card-delete{
      position: absolute;
      right: 10px;
      font-size: 14px;

      border: none;
      color: #921414;
    }
  }

  &__content{
    font-size: 17px;
    position: absolute;
    bottom: 2px;
    margin-left: 80px;
  }
}

.comment_card::-webkit-scrollbar { 
  display: none;
}

.next_link{
  display: none;
}

@mixin content_post{
  width: 450px;
  max-height: 100px;

  overflow: hidden;
  text-overflow: ellipsis;
}