
<h1>New Post</h1>
<%= form_for @post do |f| %>
	<div class="field">
    	<%= f.text_area :content, placeholder: "Create content post ..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="picture">
    	<%= f.file_field :image, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
    </span>
<% end %>