/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";
 $link-hover-color:           rgb(184, 229, 255); //green
body{
    background-color: #f0f2f5;
    .top_menu{
        background-color: #fff;
        height: 60px;
        .containers{
            max-width: 100%;
            .contain{
                max-width: 100%;
            }         
        }
    }    
}
.menu_top_center{
    width: 100%;
    position: absolute;
    z-index: 100;
    text-align: center;
    margin-top: 10px;

}
.menu_top_center i{
    font-size: 25px;
    margin: 30px;
}

.size_btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}
.menu_top_left{
    display: flex;
}
.current_account{
    width: 150px;
    display: flex;
    border-radius: 10px;
    margin-top: 5px;
    .img_user{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        text-align: center;
        font-size: 25px;

    }
    .name_user{
        margin-top: 5px;
        margin-left: 10px;
    }
}
.current_account:hover{
    background-color: rgb(214, 235, 236);
}

.content_left{
    padding: 10px;
    width: 250px;
    overflow: hidden;
    .menu_left{
        list-style-type: none;
        .item_menu_left{
            height: 40px;
            border-radius: 10px;
            margin: 10px;
            left: -35px;
            position: relative;
            padding: 5px;
            font-size: 15px;
            i{
                padding-right: 30px;
            }
        }
    }
}

.item_menu_left:hover{
    background-color: rgba(95, 92, 104, 0.219);
}
.li_bg:hover{
   list-style: none;
}

.content_rigth{
    padding: 10px;
    width: 270px;
    margin-top: 10px;
    position: relative;
    .box_card{
        overflow: scroll;
        height: 200px;
        .card{
            margin: 10px;
        }
    }
    .box_add_friend{
        position: relative;
        height: 300px;
        overflow: scroll;
        font-size: 14px;
        
    }
}


.content_center{
    width: 100%;
    height: 480px;
    margin: 20px;
    background-color: #fff;
    overflow: scroll;
    border-radius: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.content_center::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }