.container{
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    overflow:auto;
}
.row{
    border: 0.5px black;
    width: auto;
    height: auto;
}
.conten{
    width: 500px;
    height: auto;
    background-color: rgb(244, 244, 250);
}
.image{
    background-size: contain;
    width: 500px;
    height: 200px;
    background-color: rgba(214, 214, 224, 0.993);
}
.image img{
    width: 500px;
    height: 200px;
}
.count_like{
    width: 500px;
    height: 20px;
    background-color: rgba(201, 245, 225, 0.993);
    margin-left: 16px;
}
.like{
    width: 500px;
    height: 30px;
    background-color: rgba(244, 208, 245, 0.993);
}